# This is a composition of lint and test scripts

name: Test and Release

# Run this job on all pushes and pull requests
# as well as tags with a semantic version
on:
  push:
    branches:
      - master
    tags:
      # normal versions
      - "v[0-9]+.[0-9]+.[0-9]+"
      # pre-releases
      - "v[0-9]+.[0-9]+.[0-9]+-**"
  pull_request: {}

permissions:
  id-token: write # Required for publishing with OIDC
  contents: write  # Required for creating releases

jobs:
  # Performs quick checks before the expensive test runs
  check-and-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --immutable

    - name: Typecheck TypeScript code
      run: yarn run check

    - name: Run linters
      run: yarn run lint

  # ===================

  # Deploys the final package to NPM and Github Actions
  deploy:
    # Trigger this step only when a commit on master is tagged with a version number
    if: |
      github.event_name == 'push' &&
      startsWith(github.ref, 'refs/tags/v')

    needs: [check-and-lint]

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24] # This should be LTS

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    # Ensure npm 11.5.1 or later is installed
    - name: Update npm
      run: npm install -g npm@latest

    - name: Extract the version and commit body from the tag
      id: extract_release
      # The body may be multiline, therefore we need to escape some characters
      run: |
        VERSION="${{ github.ref }}"
        VERSION=${VERSION##*/v}
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
        EOF=$(od -An -N6 -x /dev/urandom | tr -d ' ')
        BODY=$(git show -s --format=%b)
        echo "BODY<<$EOF" >> $GITHUB_OUTPUT
        echo "$BODY" >> $GITHUB_OUTPUT
        echo "$EOF" >> $GITHUB_OUTPUT
        if [[ $VERSION == *"-"* ]] ; then
          echo "TAG=--tag next" >> $GITHUB_OUTPUT
        fi

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Create a clean build
      run: yarn run build

    - name: Publish package to npm
      env:
        TAG: ${{ steps.extract_release.outputs.TAG }}
      run: yarn npm publish $TAG

    - name: Create Github Release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        name: Release v${{ steps.extract_release.outputs.VERSION }}
        draft: false
        # Prerelease versions create prereleases on Github
        prerelease: ${{ contains(steps.extract_release.outputs.VERSION, '-') }}
        body: ${{ steps.extract_release.outputs.BODY }}
